body {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

.canvas-container {
  width: 100%;
  margin: 0px;
  canvas {
    height: 100vh;
  }
}

.canvas {
  background-color: lightgray;
  height: 100vh;
  margin: auto;
  display: flex;
}

.background {
  position: absolute;
  top: 200vh;
}

.hidden {
  display: none !important;
}
