.editor-canvas-container {
  position: relative;
  width: 100%;
  height: calc(100vh - 45px);

  .editor-canvas {
    width: 1280px;
    height: calc(100vh - 45px);
    box-shadow: 1px 1px 3px #c4c4c4;
  }

  .active-layer {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 50px;
  }
}
