canvas,
img {
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: optimize-contrast;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
}
.editor-container {
  position: absolute;
  top: 0px;

  .editor-main {
    display: inline-flex;

    .editor-h-resize {
      width: 5px;
      height: auto;
      border-left: double 1px #c4c4c4;
      border-right: double 1px #c4c4c4;

      margin: 5px;
      cursor: col-resize;
    }
  }
}
