.editor-tile-browser {
  padding: 0px;
  width: calc(100% - 10px);
  height: 100%;
  overflow: auto;
  margin: 0px 10px 0px 10px;
  display: inline-flex;
  position: relative;
}

.editor-tile-image {
  border: 0px;
}

.editor-tile-container {
  overflow: auto;
  width: 100%;
  height: 100%;
  margin: 5px;
}

.tile-browser-button-group {
  position: sticky;
  top: 0;
  left: 0;
  display: inline-flex;
  margin: 5px;
  width: 50px;

  .btn {
    border: 1px solid rgba(102, 102, 102, 0.4);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3921568627);
    height: 20px;
    margin: 0px 3px 0px 0px;
  }
}

/** NEW */

.tile-list {
  .tile-item-selected {
    background-color: rgb(141, 238, 238);
  }

  .item {
    display: block;

    &.grayscale {
      filter: grayscale(1);
    }

    .tile-item-container {
      height: 100%;
      width: 100%;
      display: inline-flex;

      .tile-preview {
        margin: 5px;
        width: 64px;

        div {
          overflow: hidden;
        }
      }

      .text {
        justify-content: center;
        align-items: center;
        width: 200px;

        .tile-text {
          display: flex;
          align-items: center;
          width: 100%;
          overflow: hidden;
        }

        .sprite-text {
          font-size: smaller;
          color: gray;
          text-align: right;
          width: 100%;
          overflow: hidden;
          vertical-align: bottom;
        }
      }

      .item-edit {
        display: flex;
        margin-left: 10px;
        width: 16px;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
