.editor-toolbar {
  position: sticky;
  left: 0px;
  width: 100%;
  background-color: black;
  display: inline-flex;
  align-items: center;
  .btn.active {
    background-color: rgb(22, 59, 59);
    border: unset;
    font-weight: unset;
  }
  .btn {
    font-size: 12px;
    background-color: black;
    color: white;
    border: none;
    border-radius: unset;
    width: unset;
  }

  .btn:hover {
    background-color: rgb(43, 41, 41);
  }
}
